
/*///////////////////////////////////////////////////////////////////header section start*/

header{
  display: flex;
}
.logo{
  width: 220px;
  height: 60px;
  margin-left: 100px;
  margin-top: 10px;
}
.nav-link{
  margin-top: 20px;
  margin-left: 50px;
  text-decoration: none;
  color: #666363;
  text-decoration-color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:100;
}
.nav-link:hover{
  color: #000;
  text-decoration: none;
}
.btns{
  margin-left: 200px;
}
.btn{
  margin-top: 20px;
  width: 120px;
  height: 45px;
  font-size: 18px;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  
}
@media screen and (max-width: 600px) {
  .logo{
    width: 160px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .nav-link{
    display: none;
  }
  
  .btn{

    display: none;
  }
}
/*///////////////////////////////////////////////////////////////////////header section end*/

/*///////////////////////////////////////////////////////////////////////welcome page section start*/

.wel-page{
  display: flex;
}
.left-sect{
  width: 50%;
}

.wel-h6{
  font-size: 60px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 900;
  margin-left: 100px;
  margin-top: 30px;
  line-height: 100px;
  color: #000;
}
.wel-start{
  display: flex;
}
.hr{
  width: 580px;
  margin-left: 100px;
  margin-top: 10px;
  border: none;
  height: 2px;
  background-color: black;
}
.wel-start img{
  width: 220px;
  height: 80px;
  margin-left: 100px;
  margin-top: 10px;
}
.wel-start h3{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.thumb-blogs{
  width: 400px;
  height: 340px;
  margin-left:160px ;
  margin-top: 100px;
  border-radius: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}
.thumb-blogs::-webkit-scrollbar {
  display: none; /* Webkit (Chrome, Safari, etc.) */
}



.thumb-blogs.tag{
  display: flex;
}
.tags{
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  color: #414040;
  width: auto;
  height: 40px;
  margin:   5px 2px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.2);


}
.tags:hover{
  color: #414040;
  text-decoration: none;
}
.search-blog{
  width: 380px;
  height: 90px;
  margin-bottom: 4px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.2);
  overflow: hidden;
}
.search-blogh{
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 900;
  margin: 2px 10px;
}
.search-blogc{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin: 2px 10px ;
}
.more-blogs{
  width: 150px;
  height: 40px;
  color: #ffffff;
  background-color: #000;
  border-radius: 10px;
  font-size: 10px;
  margin-top: 20px;
  margin-left: 290px;
}
.more-blogs .down{
  width: 30px;
  height: 30px;
  margin-left: 60px;
}
.thumb-img{
  width: 150px;
  height: 90px;
  padding: 3px;
  border-radius: 10px;
}
@media screen and (max-width: 600px){
  .wel-page{
    display: flex;
    flex-direction: column;
  }
  .wel-h6{
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 900;
    margin: 30px 30px;
    line-height: 50px;
    color: #000;
  }
  .wel-start img{
    width: 180px;
    height: 80px;
    margin-left: 30px;
    margin-top: 50px;
  }
  .wel-start h3{
    margin: 20px 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 .hr{
    margin-left: 30px;
    width: 300px;
    margin-top: 30px;
    border: none;
    height: 2px;
    background-color: black;
  }
  .thumb-blogs{
    width: 350px;
    height: 340px;
    
    margin: 30px auto;
    border-radius: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    
  }
  .tags{
    background-color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    color: #414040;
    width: auto;
    height: 40px;
    margin:   5px 1px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 8px rgb(0 0 0 / 0.2);
    font-size: 13px;
  
  }
  .search-blog{
    width: 340px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 0.2);
    overflow: hidden;
    
  }
  .thumb-img{
    width: 120px;
    height: 90px;
    padding: 3px;
    border-radius: 10px;
  }
  .more-blogs{
    width: 150px;
    height: 40px;
    color: #ffffff;
    background-color: #000;
    border-radius: 10px;
    font-size: 10px;
    margin: 30px auto;
  }
  .search-blogh{
    font-size: 15px;
  }
  .search-blogc{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 10px ;
  }
}
/*/////////////////////////////////////////////////////////////////////////welcome page section end*/
